body {
    background-image: url(images/33481-8-spider-web-file.png);
    background-color: rgb(43, 55, 132);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#scoreBoard{
    display: flex;
    flex-direction: row;
    font-size: 2em;
    margin-block-start: 0.67rem;
    margin-block-end: 0.67rem;
    margin-inline-start: 0.67rem;
    margin-inline-end: 0.67rem;
}

.buttons {
    display: block;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#playScore, #comScore, #gameText{
    border: .4rem solid rgb(223, 31, 45);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    width: 25rem;
    text-align: center;
    color: white;
    background: rgb(68, 123, 190);
    text-shadow: 0 0 .5rem black;
}

.button{
    border: .4rem solid rgb(223, 31, 45);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgb(68, 123, 190);
    text-shadow: 0 0 .5rem black;
}