body {
    background-color: rgb(85, 83, 83);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

#scoreBoard{
    display: flex;
    flex-direction: row;
}

.buttons {
    display: block;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.button {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}